<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Football Stats App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body class="bg-black min-h-screen">
    <h1 class="text-4xl text-white items-center py-6">
      Welcome to the Football Stats App
    </h1>
    <div class="buttons">
      <a href="/sql" class="button">Run SQL Queries</a>
      <a href="/trends" class="button">See Trends</a>
    </div>
  </body>
</html>
